@import url("https://fonts.googleapis.com/css2?family=Tajawal:wght@200;300;400&display=swap");

.menuText {
  text-align: center;
  margin: 10px auto;
  font-family: Tajawal;
}

.menuText h2 {
  font-size: 45px;
  font-weight: bold;
  color: #310812;
}

.menuText p {
  font-size: 20px;
}

.menuItems {
  padding: 20px;
  margin: auto;
}

.menuItems img {
  width: 100%;
  height: auto;
  margin: auto;
  border-radius: 10px;
}

.menuInfo {
  font-family: Tajawal;
  font-size: 18px;
  margin: 15px;
  line-height: 1;
}

.menuInfo h5 {
  color: #310812;
  font-weight: bold;
}

.menuInfo h6 {
  color: #ab3550;
  font-weight: bold;
  font-weight: bolder;
  font-size: 30px;
  margin-top: 20px;
}

.menuInfo button {
  font-weight: bold;
  color: #fff;
  background-color: #ab3550;
  border: 2px solid #ab3550;
  width: 130px;
  text-align: center;
  padding: 15px;
  margin-top: 10px;
  margin-right: 10px;
  box-sizing: border-box;
}

.menuInfo button:hover {
  background-color: #fff;
  color: #ab3550;
  transition: 0.2s ease-in-out;
  border: 3px solid #ab3550;
}
